<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flask App</title>
    <style type="text/css">
      * {
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>
    <h1>Square Calculator</h1>
    <form method="post" id="form">
      <label for="num">Enter Number : </label>
      <input type="text" id="num" name="number" autofocus autocomplete="off" />
      <button>Post</button>
    </form>
    <p id="square"></p>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="custom.js"></script>
  </body>
</html>
